/* Estilos para el formulario de inicio de sesión */

.flex {
  display: flex;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.bg-white {
  background-color: #fff;
}

.p-8 {
  padding: 2rem;
}

.max-w-md {
  max-width: 28rem; /* Ajusta este valor según sea necesario */
}

.border-2 {
  border-width: 2px;
}

.rounded {
  border-radius: 0.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

.mb-4 {
  margin-bottom: 1rem;
}

.text-white {
  color: #fff;
}

.text-sm {
  font-size: 0.875rem;
}

.font-semibold {
  font-weight: 600;
}

.w-full {
  width: 100%;
}

.p-2 {
  padding: 0.5rem;
}

.border-gray {
  border-color: #ccc;
}

.placeholder-gray {
  color: #ccc;
}

.bg-cyan-800 {
  background-color: #007bff;
}

/* Estilos para el botón de ingreso */